@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');


.main {
  background: rgb(212, 203, 212);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.titulo {
  color: #000;
  font-family: "Kode Mono", monospace;
  text-align: center;
  animation: text-shadow 1.5s ease-in-out infinite;
  font-size: 2em;
  font-weight: 900;
  line-height: 1;
}

.content{
  padding: 2.5%;
  margin: 0 auto;
}

.form{
  background-color: #db681bdc;
  border-radius: 1rem;
  padding: 2.5%;
  margin: 0 auto !important;
}


.form_title{
  font-family: "Kode Mono", monospace;
  background: #085092;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 2.5%;
}

.inputt{
  font-family: "Kode Mono", monospace;
  color: #000000;
  font-size: large;
}


.form_input {
  background-color: #fafafa;
  color: #000;
  margin-bottom: 2.5%;
  height: 40px;
  width: 100%;
  font-size: 20px;
  border-radius: 0.25rem;
  display: flex;
}

.form_inputN {
  background-color: #fafafa;
  color: #000;
  margin-bottom: 2.5%;
  height: 40px;
  width: 50%;
  font-size: 20px;
  border-radius: 0.25rem;
  display: flex;
}

.inputt{
  font-size: 1.2rem;
}

.form_button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  height: 40px;
  width: 50%;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  color: #ffffff;
  background-color: rgb(46, 180, 33);
  transition: 0.5s;
}

.form_button:hover{
  background-color: #108d59;
  color: #ffff;
}

.list {
  display: flex;
  margin: 5px;
  flex-direction: row;
  align-items: flex-end;
}

.result{
  color: #000000;
  font-size: 1.5rem;
}

.btn_delete {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: solid 1px transparent;
  border-radius: 4px;
  color: #ffffff;
  background-color: rgb(221, 26, 26);
  height: 30px;
  width: 30px;
  margin-left: 2%;
  transition: 0.5s;
}

.btn_delete:hover{
  background-color: rgb(214, 42, 42);
}



